<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tube.title %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @tube.transcript %>
</p>

<%= link_to 'Edit', edit_tube_path(@tube) %> |
<%= link_to 'Back', tubes_path %>
