<!DOCTYPE html>
<html>
<head>
  <title>Mltube</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>

  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">

        <strong>MLTube</strong>
      </a>
      <div class="navbar-nav ml-auto">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
      <%= link_to 'Upload', new_tube_path ,:class=>"btn btn-outline-success my-1 ml-2"%>

    </div>

  </div>
</header>
<%= yield %>
</body>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>


  </div>
</footer>
</html>
